@font-face {
  font-family: IMFELL-Italic;
  src: url("./fonts/IMFellEnglish-Italic.ttf");
}

@font-face {
  font-family: IMFELL-GreatPrimer-Italic;
  src: url("./fonts/IMFellGreatPrimer-Italic.ttf");
}

body {
  margin: 1.5em 2em;
  padding: 0;
}

.italic {
  font-style: italic;
}
